body {
  background: #000000; 
  font-family: arial;
  text-align: justify;
}

menu{
  color: hsl(0, 0%, 0%);
  width: 100%;
}

button a{
  color: rgb(255, 255, 255);
}

p{
  text-align: justify;
}

img{
  width: 25%;
}

li > .imgLaboratoria{
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: hsl(0, 0%, 0%);
}

li a{
  background-color: rgb(255, 217, 0);
}

li{
  list-style: none;
}

.courses a{
  color: rgb(255, 255, 255);
}

.courses{
  color: rgb(0, 0, 0);
}
 
.row img{
  width: 50%;
}

.row{
  padding-top: 5%;
}

.imgProfesore{
  width: 100%;
}

#container{
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin-top: 3%;
  padding: 8%;
  padding-top: 0PX;
  border-radius: 10px;
} 
